p Esperamos que este pasando un agradable y bendecido día,
p Tu usuario ha sido creado exitosamente, a continuación la información de tu cuenta:
ul
  li Usuario : #{username}
  li Password : #{pwd}
  li Número de Caslilero : #{id}

p Primero nos gustaría que agregaras nuestro WhatsApp a su lista de contactos haciendo click aquí:  
a(href="https://bit.ly/3jUDvdA") https://bit.ly/3jUDvdA 

p Aquí le detallo la información que debe poner en sus diferentes paginas de compras a nivel mundial donde los envíos puedan realizarse hacia los Estados Unidos,

ul 
  li [ ] NOMBRE:  #[span #{firstName}]  #[span #{lastName}] / SUCRE
  li [ ] PAIS: UNITED STATES 
  li [ ] DIRECCION DE CALLE : 1345 NW 98TH CT, STE 2   
  li [ ] DIRECCION 2:  SUCRE #{id}
  li [ ] CIUDAD: MIAMI 
  li [ ] ESTADO / PROVINCIA: FLORIDA 
  li [ ] CODIGO POSTAL: 33172  
  li [ ] TELEFONO: + 1-7863602816

p POR FAVOR siempre tome en cuenta que debe poner la información tal cual como esta descrita arriba, de esta forma podremos detectar su paquete con rapidez una vez llegue a nuestras bodegas,
p Es importante aclarar qué Sucre Express Courier no se hace responsable por las entregas perdidas por mala gestión de la empresa norteamericana USPS.

p Nuestro compromiso es entregar su paquete lo antes posible, dentro de un periodo de 48 a 72horas una vez su paquete allá arribado Panamá.

p Busque su distribuidor más cercano y disfrute de los servicios de SEC.

p Saludos,
p SEC
p Sucre Express Courier
p Redes sociales
p Instagram : @sucrexpress
p Facebook: sucre express
p Twitter: @expressSucre
p YouTube: sucre express
p Website: #[a(href="https://zen-hodgkin-43c9d5.netlify.app/") SucreExpress]


p Pregunta por nuestros servicios de carga LCL Y FCL desde cualquier parte del mundo.

